<!DOCTYPE html>
<html>
  <head>
    <title>Advanced Cabbage API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Advanced Cabbage API</h1>
    <p>Documentation coming soon!</p>
  </body>
</html>
